@charset "utf-8";
/* CSS Document */

body {
    height: 2000px;
    font-family: Helvetica, Arial, sans-serif;
	text-transform: capitalize;
	color: #4a484a;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button:focus {
	outline:0;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Start Style header part */

.header {
	width: 100%;
	padding: 0 30px;
	background: #fff;
	overflow: hidden;
}

.header h1, footer h1 {
	padding: 18px 0;
  font-size: 21px;
	display: inline-block;
	color: inherit;
}

.header .menue-icon  {
	float: right;
	padding: 18px 0;
    font-size: 21px;
	cursor: pointer;
}

.header .menue-icon div {
	width: 35px;
    height: 3px;
    background-color: #969694;
}

.header .menue-icon div:not(:nth-child(3)) {
    margin: 4px 0;
}

/* Style for hero image */

.hero {
	width: 100%;
	cursor: pointer;
}

.hero .hero-img {
	width: 100%;
	height: 100%
}

/*style get notified part */

.get-notified {
	width: 100%;
}

.get-notified h3 {
	background-color: #ff9932;
	color: #fff;
    padding: 17px 15px;
	font-weight: 500;
}

.get-notified h3 a:hover {
	text-decoration: underline;
}

/* style the filter btn and the popup */

.filter {
  width: 100%;
  background-color: #F8FBFF;
}

.filter-btn {
	margin: 15px 0 20px 15px;
	width: 100px;
	height: 24px;
	background-color: #d7d7d7;
	border: 1px solid #cacaca;
	cursor: pointer;
  font-weight: 600;
  color: inherit;
  text-transform: inherit;
}

.popup-container {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 600px;
  display: none;
}

.popup-container div.filter-popup {
  width: 370px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 13px #888888;
  box-shadow: 0px 0px 13px #888888;
  padding: 15px 25px;
  background-color: #fff;
}

.popup-container div.filter-popup .close {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.popup-container div.filter-popup .close img {
  width: 12px;
  cursor: pointer;
}

.popup-container div.filter-popup .filter-option  h4.filter-header {
  font-size: 19px;
}

.popup-container div.filter-popup .filter-options > div:not(:nth-child(1)) h4.filter-header {
  margin-top: 12px;
}

.popup-container div.filter-popup .filter-option {
  text-align: left;
}

.popup-container div.filter-popup .filter-option:not(:nth-child(4))  {
  border-bottom: 1px solid #969694;
}

.popup-container div.filter-popup .filter-option .filter-checkboxes {
  font-size: 17px;
  margin: 12px 0;
}

.popup-container div.filter-popup .filter-option .filter-checkboxes input[type="checkbox"] {
  visibility: hidden;
  margin-right: 10px;
}

.popup-container div.filter-popup .filter-option .filter-checkboxes input[type="checkbox"]::before {
      width: 16px;
      height: 16px;
      display: inline-block;
      visibility: visible;
      position: relative;
      background-color: #fff;
      border: 2px solid #969696;
      border-radius: 4px;
      content: "";
}

.popup-container div.filter-popup .filter-option .filter-checkboxes input[type="checkbox"]:checked::before {
  background-color: #c7c7c5;
}

.popup-container div.filter-popup .apply-filter,
.popup-container div.filter-popup .cancel-filter {
  text-align: center;
}

.popup-container div.filter-popup .apply-filter {
  padding: 20px 0 6px;
}
.popup-container div.filter-popup .cancel-filter {
  padding-top: 0;
  padding-bottom: 25px;
}
section.products .product-item .view-more .view-details-btn,
.popup-container div.filter-popup .cancel-filter-btn,
.popup-container div.filter-popup .apply-filter-btn {
  height: 40px;
  width: 230px;
  text-align: center;
  background-color: #ff9932;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.popup-container div.filter-popup .cancel-filter-btn {
  background-color: #6b747d;
}

.popup-container div.filter-popup .apply-filter-btn {
  background-color: #ff9932;
}

/* Styles for the prodects items */
section.products {
  width: 100%;
  padding: 0 15px;
  background-color: #F8FBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.products .product-item {
/*  height: 335px;*/
  width: calc(33.3333% - 25px);
  margin-bottom: 30px !important;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 10px #888888;
  box-shadow: 1px 4px 11px #888888;
}

section.products .product-item img.product-image {
  width: 100%;
}

section.products .product-item h2.product-title {
  padding: 20px 15px;
  font-size: 18px;
  text-align: left;
}

section.products .product-item .product-info {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 3px 10px;
}

section.products .product-item .product-info > div,
 section.products .product-item .product-info h5.product-price {
  display: inline-block;
  float: left;
}


    section.products .product-item .product-info .product-status {
      width: 38%;
    }
    section.products .product-item .product-info .product-instock,
    section.products .product-item .product-info h5.product-price {
      width: 31%;
    }

section.products .product-item .product-info .product-price > span {
  display: block;
}

section.products .product-item .product-info .product-price span.discount-price {
  text-decoration: line-through;
  color: #9B9B9B;
  font-weight: 500;
  font-size: 16px;
}
section.products .product-item .product-info .product-price span.original-price {
  color: #FF6734;
  font-size: 19px;
}

section.products .product-item .product-info .product-status {
  padding: 9px 0;
}

section.products .product-item .product-info .product-status img.product-status-icon {
  width: 22px;
  vertical-align: bottom;
  margin-right: 3PX;
}

section.products .product-item .product-info .product-instock {
  padding: 11px 0;
}

section.products .product-item .product-info .product-instock span.product-units-numb {
  font-weight: bold;
}

section.products .product-item .view-more {
  text-align: center;
  padding: 25px 0 15px;
}

section.products .product-item .view-more .view-details-btn {
  background-color: #ff9932;
}

/* style for the navigate between pages bar */
section.products .navigate-pages {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

section.products .navigate-pages .navigation-links {
  display: inline-block;
  overflow: hidden;
}

section.products .navigate-pages a {
  display: inline-block;
  border: 1px solid #C0C0C0;
  float: left;
  padding: 4px 9px;
  background-color: #fff;
  color: #ff9932;
}

section.products .navigate-pages a:hover {
  color: #fff;
  background-color: #ff9932;
}

.nav-link-active {
  color: #fff !important;
  background-color: #ff9932 !important;
}

section.products .navigate-pages a:not(:nth-child(1)) {
  border-left: 0;
}

/* Style the footer section */
footer {
  width: 100%;
  padding: 0 20px;
}

footer .footer-groups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-groups > div {
  width: 33.3%;

}

footer .footer-groups > div ul {
  margin: 5px 0 20px;
}

footer .footer-groups > div h5 {
  font-size: 17px;
}

footer .footer-groups .other-links li:nth-child(3){
  text-transform: uppercase;
}

/* MEDIA QUERIES */

/* setting container size */
@media screen and (min-width: 1150px) {

    .container {
        width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }

  /*  .popup-container {
      top: 600px !important;
    }*/

}

/* Responsiveness settings */
@media screen and (max-width: 870px) {

    section.products .product-item {
    width: calc(50% - 16px);
    text-align: center;
    }

    footer .footer-groups > div {
      width: 50%;
    }
     .popup-container {
        top: 400px !important;
      }
}

@media screen and (max-width:600px) {

    section.products .product-item {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    footer .footer-groups > div {
      width: 100%
    }

    .popup-container {
       top: 30px !important;
     }

}

@media screen and (max-width: 455px) {

	.get-notified h3 {
    padding: 6px 15px;
	}

}
